#container{
    border: 2px solid black;
    height: 400px;
    background-color: rgb(0, 217, 255);
}

#botao-jogo{
    height: 50px;
    width: 150px;
    background-color: #8989ff;
    border-radius: 10px;
    position: absolute;
}

body{
    background-color: aquamarine;
}